[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask-wtf = "*"
flask = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
uwsgi = "*"

[requires]
python_version = "3.7"
