{% load i18n static %}
<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block head_title %}Team registration — ITACPC{% endblock head_title %}
  </title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter">
  {% block extra_head %}
  {% endblock extra_head %}
</head>

<body>
  {% block body %}
  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <a href="https://itacpc.it/"><img style="width: 105px;margin-left: 20px;"
            src="{% static 'logo.png' %}"></img></a>
        <!-- <span>ITACPC</span> -->
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a href="https://itacpc.it/">Home</a>
      <a href="https://itacpc.it/competition/rules">Rules</a>
      <a class="active" href="https://itacpc.it/schedule">Schedule</a>
      <a href="https://itacpc.it/universities">Universities</a>
      <a href="https://itacpc.it/editions">Past editions</a>
      <!-- <a href="https://itacpc.it/hubs">Hubs</a> -->
    </div>
  </div>

  <div style="margin-top: 10px;"></div>

  {% if messages %}
  <div id=flashes>
    <button style="float: right; font-size: larger;"
      onclick="document.getElementById('flashes').style.display = 'none';">&times;</button>
    {% for message in messages %}
    <div>{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}

  <header>
    <div style="flex: 1">
      {% block header %}{% endblock %}
      <br>
    </div>

    <div class="userbar">
      {% if user.is_authenticated %}
        <a href="{% url 'my-profile' %}">My profile</a>
        <a style="margin-left: 2rem" href="{% url 'account_logout' %}">Sign out</a>
        {% if user.is_staff %}
          <a style="margin-left: 2rem" href="{% url 'admin:index' %}">Admin</a>
        {% endif %}
      {% else %}
        <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
      {% endif %}
    </div>
  </header>

  {% block content %}
  {% endblock content %}
  {% endblock body %}
  {% block extra_body %}
  {% endblock extra_body %}
</body>

</html>
