{% extends "teams/base.html" %}

{% block header %}
There are <strong>{{ unis|length }}</strong>
universities in the database, <strong>{{ team_count }}</strong> total team
formed, and <strong>{{ students_count }}</strong> total students registered.
To search your university, use <strong>CTRL</strong>+<strong>F</strong> or
<strong>⌘</strong>+<strong>F</strong> on your keyboard and type the name.
Contact us if your university should be listed here (or if you want to provide
a new logo for your university).
{% endblock %}

{% block content %}
  <div class="card-container">
    {% for u in unis %}
    <div class="card {% if user_own_university == u %}special{% endif %}">
      <img class="card-picture" src="{{ u.flag_300 }}"/>

      <div class="card-info">
        <h3>{{ u.name }}</h3>
        <p>Teams formed: <strong> {{ u.teams }} </strong></p>
        <p>Registered students: <strong> {{ u.students }} </strong></p>

        <a href="{% url 'university' u.short_name %}">Show this university</a>
        {% if not user_own_university %}<a href="{% url 'create-student' u.short_name %}">Register as a student of this university</a>{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
