{% extends "teams/base.html" %}

{% block header %}
{% endblock %}

{% block content %}
<div class="card">
    <img class="card-picture" src="{{ university.flag_300 }}">
    <div class="card-info">
        Hello,
        <h1>{{ student.full_name }}</h1>
        <a href="{% url 'index' %}">Back to list of universities</a>
        <a href="{% url 'university' university.short_name %}">Back to university</a>
    </div>
</div>

<div class="card">
    <div class="card-info">
      <h2>Team membership information</h2>
  
      <div>
        {% if student.team %}
          <p>You're part of team <strong>{{ student.team.name }}</strong> which is currently formed by these students:</p>
          <ol>
            {% for s in student.team.students %}
              <li>{{ s.full_name }}</li>
            {% endfor %}
          </ol>
          <p>If you want to invite new members (remember that maximum 3 people can be in the same team) you can use the following link:</p>
          <pre style="font-size: larger">{{ student.team.invitation_link }}</pre>
  
          <p>If you want to <strong>leave your own team</strong> then <a href="{% url 'leave-team' %}">click here</a>.</p>
        {% else %}
          <p>
            Hi {{ student.full_name }}, you're currently not part of any team.
            If you want to participate to ITACPC individually, then you don't
            need to do anything. Your individual credentials will appear in the
            section below when the contest is ready. If you want to participate
            with a team, then you can still <a href="{% url 'create-team' university.short_name %}">create</a> or <a href="{% url 'university' university.short_name %}">join</a> one!
          </p>
        {% endif %}
      </div>
    </div>
</div>

<div class="card {% if student.team.credentials %}special{% endif %}">
  <div class="card-info">
    <h2>Contest access credentials</h2>

    {% if student.credentials and can_disclose_credentials %}
      <div>Use the following credentials to access <a href="https://judge24.itacpc.it/">the contest</a>.</div>
      <ul class="large-font">
        <li>
          <strong>Username</strong>:
          <code>{{student.credentials.username}}</code>
        </li>
        <li>
          <strong>Password</strong>:
          <code>{{student.credentials.password}}</code>
        </li>
      </ul>
      {% else %}
        The credentials to access the contest will appear here (and in your
        inbox) some time before the start of the contest. Make sure to check
        every now and then!
      {% endif %}
  </div>
</div>

<div class="card">
    <div class="card-info">
        <h2>Update personal information</h2>

        <div style="border: 1px solid gray; max-width: 500px; padding: 4px; margin: 8px 0 16px">
          <p style="margin-bottom: 4px">
            Sometimes university email addresses can misclassify our emails as
            spam. If you wish, you can receive the contest credentials also on
            your personal email by specifying it here:
          </p>
          <p>
            <a href="{% url 'account_email' %}">Add email address</a>
          </p>
        </div>
  
        <div>
            <p style="margin-bottom: 8px">
              If you want to, below you can update your information. Adding your
              competitive programming handle can be helpful to get contacted by
              potential teammates.
            </p>
  
            <form method=post>
                {% csrf_token %}
                {{ form.as_p }}
                <p>
                    <button type="submit">Update profile</button>
                </p>
            </form>
        </div>
    </div>
</div>  
{% endblock %}
