{% extends "teams/base.html" %}

{% block header %}
{% endblock %}

{% block content %}
<div class="card">
    <img class="card-picture" src="{{ team.university.flag_300 }}">
    <div class="card-info">
        Hello,
        <h1>{{ request.user.full_name }}</h1>
        <a href="{% url 'index' %}">Back to list of universities</a>
        <a href="{% url 'university' team.university.short_name %}">Back to university</a>
    </div>
</div>

<div class="card">
  <div class="card-info">
      <form method=post>
          {% csrf_token %}
          <div style="margin-bottom: 1rem">Are you sure you want to join team <strong>{{ team.name }}</strong>?</div>
          <input type=submit value="Yes, join the team">
      </form>
  </div>
</div>
{% endblock %}
