{% extends "teams/base.html" %}

{% block header %}
{% endblock %}

{% block content %}
<div class="card">
    <img class="card-picture" src="{{ university.flag_300 }}">
    <div class="card-info">
        Creation of a new team for
        <h1>{{ university.name }}</h1>
        <a href="{% url 'index' %}">Back to list of universities</a>
        <a href="{% url 'university' university.short_name %}">Back to university</a>
    </div>
</div>

<div class="card">
    <div class="card-info">
        <div>
            The team <strong>{{ team.name }}</strong> was created successfully!
        </div>
  
        <div style="margin-top: 0.3rem">
            Your account was automatically added to the team.
        </div>
  
        <div>
            Use the following link to invite your friends in this team:
  
            <pre style="font-size: larger">{{ team.invitation_link }}</pre>
  
            You can find this link also in the <a href="{% url 'my-profile' %}">My Profile</a> page.
        </div>
    </div>
</div>  
{% endblock %}
