{% extends "layout.html" %}

{% block body %}
  <div class="card">
    <img class="card-picture" src="{{ url_for('static', filename='flags/300/' + uni + '.png') }}">
    <div class="card-info">
      Hello,
      <h1>{{ student_full }}</h1>
      <a href="{{ url_for('index') }}">Back to list of universities</a>
      <a href="{{ url_for('uni_page', uni=uni) }}">Back to university</a>
    </div>
  </div>

  <div class="card">
    <div class="card-info">
        <div>You signed up successfully!</div>

        <div style="margin-top: 1rem">Check your inbox (also the spam folder!) at <i>{{ email }}</i> and click on the link to confirm your account!</div>
    </div>
  </div>
{% endblock %}
