<p>You received this email because someone recently requested a password reset for your account. If you did this, visit the following URL to reset your password:</p>

<p>https://teams.itacpc.it/reset-password/{{ secret }}</p>

<p>The link will be valid for 24 hours. If you didn't request a password reset, you can safely ignore this email.</p>

<p>See you in the next contest!
<br>
ITACPC Staff</p>
