{% extends "layout.html" %}

{% block body %}
  <div class="card">
    <img class="card-picture" src="{{ url_for('static', filename='flags/300/' + uni + '.png') }}">
    <div class="card-info">
      Creation of a new team for
      <h1>{{ uni_full }}</h1>
      <a href="{{ url_for('index') }}">Back to list of universities</a>
      <a href="{{ url_for('uni_page', uni=uni) }}">Back to university</a>
    </div>
  </div>

  <div class="card">
    <div class="card-info">
        <div>
            The team <strong>{{ team_name }}</strong> was created successfully!
        </div>

        <div style="margin-top: 0.3rem">
            Your account was automatically added to the team.
        </div>

        <div>
            Use the following link to invite your friends in this team:

            <pre style="font-size: larger">https://teams.itacpc.it/{{ uni }}/join/{{ secret }}</pre>

            You can find this link also in the <a href="{{ url_for('my_profile') }}">My Profile</a> page.
        </div>
    </div>
  </div>
{% endblock %}
