{% extends "layout.html" %}

{% block body %}
  <div class="card">
    <img class="card-picture" src="{{ url_for('static', filename='flags/300/' + uni + '.png') }}">
    <div class="card-info">
      Creation of a new team for
      <h1>{{ uni_full }}</h1>
      <a href="{{ url_for('index') }}">Back to list of universities</a>
      <a href="{{ url_for('uni_page', uni=uni) }}">Back to university</a>
    </div>
  </div>

  <div class="card">
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
      <dl>
        {{ render_field(form.team_name) }}
      </dl>
      <p><input type=submit value=Register>
    </form>
  </div>
{% endblock %}
