[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=itacpc
Group=www-data
WorkingDirectory=/home/itacpc/teams
ExecStart=/home/itacpc/.local/share/virtualenvs/teams-_GRcvIg0/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          itacpc.wsgi:application

[Install]
WantedBy=multi-user.target
