{% extends "layout.html" %}

{% block body %}
  <div class="card">
    <img class="card-picture" src="{{ url_for('static', filename='flags/' + uni + '.png') }}">
    <div class="card-info">
      Hello,
      <h1>{{ student_full }}</h1>
      <a href="{{ url_for('index') }}">Back to list of universities</a>
      <a href="{{ url_for('uni_page', uni=uni) }}">Back to university</a>
    </div>
  </div>

  {% from "_formhelpers.html" import render_field %}
  <form method=post>
    <div class="card">
      <div class="card-info">
        <p>
          To confirm your ITACPC account, you now need to choose a password:
        </p>

        <dl>
          <dt>Email Address</dt>
          <dd><strong>{{ email }}</strong></dd>

          {{ render_field(form.password) }}
          {{ render_field(form.confirm) }}
        </dl>
      </div>
    </div>

    <div class="card">
      <div class="card-info">
        <p>The contest will take place on Kattis, so it's recommended to have a Kattis account. You can <a href="https://open.kattis.com/login" target="_blank">create one</a> if you don't have it yet.</p>
        <p>If you leave this field empty, we will create an account for you and send you the credentials via email.</p>

        <dl>
          {{ render_field(form.kattis_handle) }}
        </dl>
      </div>
    </div>

    <div class="card">
      <div class="card-info">
        <p>
          If you want, you can let other students find you in other online platforms. This can help you in choosing teammates.
        </p>

        <dl>
          {{ render_field(form.olinfo_handle) }}
          {{ render_field(form.codeforces_handle) }}
          {{ render_field(form.github_handle) }}
        </dl>

        <div>
          <input type="submit" value="Confirm account">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
