From: ITACPC <noreply@itacpc.it>
To: {{ receiver_email }}
Subject: ITACPC Account Recovery

You received this email because someone recently requested a password reset for your account. If you did this, visit the following URL to reset your password:

https://teams.itacpc.it/reset-password/{{ secret }}

The link will be valid for 24 hours. If you didn't request a password reset, you can safely ignore this email.

See you in the next contest!
ITACPC Staff
