<p>You received this email because someone registered to the ITACPC website using your email address.</p>

<p>If you didn't create this account you can ignore this email.</p>

<p>In order to confirm your account you should <a href="https://teams.itacpc.it/confirm-email/{{ secret }}">follow this link</a> following URL and then login.</p>

<p>After you successfully login, you will be able to either create a team or join an existing one. Now it's time to find team mates!</p>

<p>See you in the next contest!
<br>
ITACPC Staff</p>
