From: ITACPC <noreply@itacpc.it>
To: {{ receiver_email }}
Subject: ITACPC Registration

You received this email because you registered to the ITACPC website. In order to confirm your account you should visit the following URL and then login:

https://teams.itacpc.it/confirm-email/{{ secret }}

After you successfully login, you will be able to either create a team or join an existing one. Now it's time to find team mates!

See you in the next contest!
ITACPC Staff
