{% extends "layout.html" %}

{% block body %}
  <div class="card">
    <img class="card-picture" src="{{ url_for('static', filename='flags/300/' + uni + '.png') }}">
    <div class="card-info">
      Hello,
      <h1>{{ student_full }}</h1>
      <a href="{{ url_for('index') }}">Back to list of universities</a>
      <a href="{{ url_for('uni_page', uni=uni) }}">Back to university</a>
    </div>
  </div>

  <div class="card">
    <div class="card-info">
        <form method=post>
            <div style="margin-bottom: 1rem">Are you sure you want to join this team?</div>
            <input type=submit value="Yes, join the team">
        </form>
    </div>
  </div>
{% endblock %}
